/*页脚样式*/
.footer1{width:100%; background-color:#001526; height:200px; float:left; color:#FFFFFF;}

/* 全文主要信息样式 */
.middle{ width:90%;  float:left; text-align:left; margin:0 auto; position:relative;}
.leftBox{float:left;margin-left:60px; margin-top:10px; width:200px; position:absolute;	}
.midBox{ float:left; margin-left:500px; width:500px;}
.rightBox{float:left;margin-left:880px; margin-top:10px; width:200px;}

/*项目列表样式*/
.leftBox li{ list-style:none;}
.rightBox li{ list-style:none;}


.span{ font-size:36px; font-family:"华文彩云"; margin-left:120px;}
.p{ font-size:24px; font-family: "华文彩云"; margin-right:0px; color:#FF0000;}





